@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

body {
    background: url('../img/Money\ Background.jpg') no-repeat;
}
div.main{
    background-color: rgba(10, 255, 50, 0.5);
    height: 100vh;
    width: 100vw;
}

div.index{
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1.index{
    margin: 0;
    margin-top: 8vw;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 8vw;
    line-height: 8vw;
}

h2.index{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2vw;
}

.button{
    padding: 0.83vw 1.66vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.83vw;
    margin: 0.208vw 3.33vw;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button{  
    background-color: white; 
    color: black; 
    border: 2px solid green;
    border-radius: 16px;
    width: 16vw;
    height: 4vw;
    font-size: 2vw;
    outline: none;
}

.button:hover{
    background-color: blue;
    color: white;
}
/* Signup*/

div.signup-index2{
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1.signup-index2{
    margin: 0;
    margin-top: 12vw;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 6vw;
    line-height: 6vw;
}

h2.signup-index2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5vw;
}


div.signup-index{
    width: 50vw;
}

div.verticalLine{
    margin-top: 10vh;
    height: 80vh;
    border: 4px solid black;
}

div.signup{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.signup-details{
    width: 50vw;
    margin-top: 12vw;
}

div.signup-details > div > label{
    font-size: 1.25vw;
    color: black;
    display: inline-block;
    margin-left: 3.2vw;
    position: absolute;
    margin-top: 50px;
    transition: margin-top 0.4s;
}

div.signup-details > div{
    display:flex;
    flex-direction: column;
    align-content: space-between;
}

div.signup-details > div > input{
    background: none;
    border: none;
    color: white;
    outline: none;
    border-bottom: 2px solid black;
    height: 48px;
    width: 20.83vw;
    font-size: 32px;
    margin-left: 3vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

div.signup-details > div > input:focus ~ label{
    margin-top: 20px;
}

div.signup-details > div > input:not(:placeholder-shown) ~ label{
    margin-top: 20px;
}

div.signup-existinguser{
    display: flex;
    justify-content: center;
    margin-left: 3vw;
    width: 20.83vw;
}

div.signup-existinguser > a{
    text-align: center;
    text-decoration: none;
    color: white;
}

div.signup-details > div > img{
    display: inline-block;
    width: 1.67vw;
    height: 1.67vw;
    position: absolute;
    margin-left: 1vw;
    margin-top: 50px;
}

div.signup-details > div > p{
    font-size: 1vw;
    color: red;
    display: inline-block;
    margin-left: 3.2vw;
    margin-top: -40px;
    width: fit-content;
    background-color: black;
    opacity: 0;
}

/* Signin.html */


div.signin-index2{
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1.signin-index2{
    margin: 0;
    margin-top: 12vw;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 6vw;
    line-height: 6vw;
}

h2.signin-index2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5vw;
}


div.signin-index{
    width: 50vw;
}

div.signin{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.signin-details{
    width: 50vw;
    margin-top: 12vw;
}

div.signin-details > div > label{
    font-size: 1.25vw;
    color: black;
    display: inline-block;
    margin-left: 3.2vw;
    position: absolute;
    margin-top: 50px;
    transition: margin-top 0.4s;
}

div.signin-details > div{
    display:flex;
    flex-direction: column;
    align-content: space-between;
}

div.signin-details > div > input{
    background: none;
    border: none;
    color: white;
    outline: none;
    border-bottom: 2px solid black;
    height: 48px;
    width: 20.83vw;
    font-size: 32px;
    margin-left: 3vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

div.signin-details > div > input:focus ~ label{
    margin-top: 20px;
}

div.signin-details > div > input:not(:placeholder-shown) ~ label{
    margin-top: 20px;
}

div.signin-newuser{
    display: flex;
    justify-content: center;
    margin-left: 3vw;
    width: 20.83vw;
}

div.signin-newuser > a{
    text-align: center;
    text-decoration: none;
    color: white;
}

div.signin-details > div > img{
    display: inline-block;
    width: 1.67vw;
    height: 1.67vw;
    position: absolute;
    margin-left: 1vw;
    margin-top: 50px;
}

.si-incorrect{
    position: absolute;
    top: 20%;
    display: flex;
    margin-left: 3vw;
    width: 20.83vw;
    align-items: center;
    opacity: 0;
}

.si-incorrect > p{
    font-size: 1.15vw;
    background-color: red;
}

div.index-sbuttons{
    width: 20.83vw;
    margin-left: 3vw;
    display: flex;
    align-items: center;
}

.sbutton{
    padding: 0.83vw 1.66vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.83vw;
    margin: 0.208vw 3.33vw;
    transition-duration: 0.4s;
    cursor: pointer;

    opacity: 0;
    box-sizing: border-box;
    transition: all ease 0.5s;
}

.sbutton{
    background-color: white; 
    color: black; 
    border: 2px solid green;
    border-radius: 16px;
    width: 20.83vw;
    height: 4vw;
    font-size: 2vw;
    outline: none;
}

.sbutton:hover{
    background-color: blue;
    color: white;
}

.button-active{
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left-color: transparent;
    padding: 0;
    animation: rotate 1.4s ease 0.4s infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(360deg);
    }
}

.button-success{
    position: relative;
    background-color: #fff;
    animation: bounce .3s ease-in;
    border-left-color: green;
}

@keyframes bounce{
    0%{
        transform: scale(0.9);
    }
}

.button-success:before{
    content: "";
    position: absolute;
    background: url('../img/check.png') no-repeat;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    top: 8px;
}


/*Finance Tracker CSS*/
.ft-header{
    display: flex;
    justify-content: center;
}

.ft-header > h1{
    text-align: center;
    font-size: 3vw;
    color: white;
    background-color: #0080FF;
    width: fit-content;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}
#ft-piechart{
    display: flex;
    justify-content: center;
}
#piechart{
    width: 50vw;
    height: 30vw;
}

.ft-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

#ft-logout{
    padding: 0.83vw 1.66vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.83vw;
    margin: 0.208vw 3.33vw;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid green;
    border-radius: 16px;
    width: 16vw;
    height: 4vw;
    font-size: 2vw;
    outline: none;
    position: absolute;
    top: 3%;
    right: 0%;
}

#ft-logout:hover{
    background-color: red;
    color: white;
}

.logoutMain{
    display: flex;
    justify-content: center;
}

.logoutMain > p{
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40vh;
    margin-bottom: 40vh;
}

.editDataWindow{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

.editDataContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50vw;
  }

.button-g:hover{
    background-color: green;
    color: white;
}
.button-r:hover{
    background-color: red;
    color: white;
}

.ft-data > label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}

.ft-data > input{
    height: 32px;
    font-size: 1vw;
}

.ft-data{
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.dataHeader > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
}

#piechart-placeholder{
    display: flex;
    justify-content: center;
}

#piechart-placeholder > p{
    margin: 0;
    width: 50vw;
    height: 30vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30vw;
    background-color: white;
    font-size: 4vw;
}

.data-buttons{
    display: flex;
    justify-content: center;
}


.viewEditWindow{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

.viewEditContent{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50vw;
}

#edit-close {
    color: #aaaaaa;
    float: right;
    font-size: 64px;
    font-weight: bold;
}

#edit-close:hover, #edit-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.editListCon{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.editListTitle{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4vw;
    font-weight: bold;
}

.editListTitle > p{
    margin-bottom: 0;
}

.editListCon > p{
    font-size: 1.2vw;
    line-height: 2vw;
}

.editListCon > p:first-child, .editListTitle > p:first-child{
    width: 30%
}

.editListCon > p:last-child, .editListTitle > p:last-child{
    width: 70%
}